
*.log
.vscode
.next
out
app
server/
electron-builder.env
electron-builder.yml
script/notarize.js
assets/record.mov
package-lock.json
**/.DS_Store
temp.js
ollama


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
