node_modules/
*.log
.vscode
.next
out
app/
dist/
server/
electron-builder.env
electron-builder.yml
script/notarize.js
assets/record.mov
package-lock.json
notes _ help
**/.DS_Store
temp.js
*.~lock.*
renderer/.next