@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .draggable {
        -webkit-app-region: drag;
    }
    /* main {
        -webkit-app-region: no-drag;
    } */
}

